<footer class="site-footer">
	<div class="container pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <h2>Links</h2>
      <ul class="no-bullet">
      {% for item in site.navs %}
        <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
      {% endfor %}
        <li><a href="https://beta.cut.social/designer" target="_blank">New Designer (beta)</a></li>
        <li><a href="https://legacy.cut.social" target="_blank">Legacy Website</a></li>
      </ul>
    </div>
        <div class="pure-u-1-1 pure-u-md-1-2">
            <h2><a href="/projects">Case Studies</a></h2>
            <ul class="no-bullet">
            {% for post in site.posts %}
			{% if post.project %}
                <li><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="copyright-notice">
            &copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All Rights Reserved.<br />
    </div>
    
</footer>
<!-- Javascript -->
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/nav.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>