{% comment %}
    Displays all of the people from the _people/ collection in a grid
{% endcomment %}

{% if page.show_staff %}
   
<section class="container pure-g">
  <h2 class="pure-u-1-1">Who We Are</h2>
  <div class="pure-g">
    {% for person in site.people %}
    <div class="pure-u-1-1 pure-u-sm-1-2">
      <h3>
        <a href="{{ person.url | absolute_url }}">{{ person.title }}</a>
      </h3>
      {% if person.role %}
      <h5>{{ person.role }}</h5>
      {% endif %}
      <p>
        {{ person.content }}
      </p>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
