
.demo-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;
}

.demo-container iframe,
.demo-container object,
.demo-container embed {
  width: 400px;
  height: 800px;
}
