@import 'nav.css';

body,
.pure-g [class*=pure-u],
.pure-g {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-bottom: 0px;
}

.site-header {
  margin: 20px;
}

.container {
  padding: 10px;
}

footer.site-footer  {
  background-color: gray;
}

.clearfix {
  overflow: auto;
}

.person-title {
  margin-block-end: 5px;
}

.person-subtitle {
  margin-block-start: 5px;
  color: #888;
}

.person-container {
  padding: 10px;
}

img.about-us {
  max-height: 50vh;
  max-width: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.about-us-image-container {
  width: 100%;
  align-content: center;
  text-align: center;
}


hr.divider {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid #333;
  color: #333;
  text-align: center;
}
hr.divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}


/* mobile */
@media (max-width: 40em) {
  body {
    padding-bottom: 0px;
  }

  img.about-us {
    border-radius: 0px;
  }
}

.blog-post.container {
  text-align: left;
  max-width: 90vw;
}

.blog-post.container h1 {
  margin-block-end: 0.1em;
}

.blog-summary.container {
  text-align: left;
  max-width: 90vw;
}

.blog-summary-container .more-button {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.blog-post-date {
  color: gray;
  font-size: 1em;
  font-style: italic;
}

.blog-container > .blog-post-content {
  padding-inline-start: 0.5em;
}

.footer-logo {
  max-width: 30vw;
  height: auto;
}